#icon-panoramio{ background: transparent url('../images/screen-icon.png') no-repeat 2px 1px;}

.notify{}
.notify p{ padding: 6px 8px; background: #EAF8FF; border: 1px solid #4FB9FF;}

.required{ color: #FF0000;}

.plugin-settings{ float: left; width: 574px; margin-right: 20px;}
.plugin-notices{ float: left; width: 500px;}